.card{
    width:400px;
    height:600px;
    display:flex;
    flex-direction: column;
    background-color:aquamarine;
    
}

.input{
    background-color: yellow;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}



